
<h1>this is student view</h1>

<div class="jumbotron">
    <div class="container">
        <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="MyChats">My Chats</a>
        @*<button type="button" asp-controller="Home" asp-action="LogInStudent" >Student LogIn</button>*@
    </div>
    <div class="container">
        <a class="nav-link text-dark" asp-area="" asp-controller="Calender" asp-action="LogInFaculty">Calender</a>
    </div>
    <div class="container">
        <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Index">Projects</a>
    </div>
    <div class="container">
        <a class="nav-link text-dark" asp-area="" asp-controller="Documentation" asp-action="LogInAdmin">Documentations</a>
    </div>
    <div class="container">
        <a class="nav-link text-dark" asp-area="" asp-controller="Assign" asp-action="LogInAdmin">Assigned to me</a>
    </div>
    <div class="container">
        <a class="nav-link text-dark" asp-area="" asp-controller="Assign" asp-action="Edit">Add aupload id to assign</a>
    </div>
    <div class="container">
        <a class="nav-link text-dark" asp-area="" asp-controller="Uploads" asp-action="LogInAdmin">My uploads</a>
    </div>
    <div class="container">
        <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Edit">Edit My Data</a>
    </div>
</div>