
<h1>E-Learning Application</h1>
<div class="jumbotron">

    <p class="lead"></p>
    <p>An application for ELearning , managing projects, users and documentations</p>
    <div class="container">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogInStudent">Student LogIn</a>
        @*<button type="button" asp-controller="Home" asp-action="LogInStudent" >Student LogIn</button>*@
    </div>
    <div class="container">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogInFaculty">Faculty LogIn</a>
    </div>
    <div class="container">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogInAdmin">Admin LogIn</a>
    </div>
    <div class="container">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ShowArticles">Articles</a>
    </div>
</div>

