
@{
    ViewData["Title"] = "ShowArticles";
}

<h1>Articles</h1>

<div class="row">
    <table class="arrowes-table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Link</th>                
            </tr>
        </thead>

        <tbody>
            <tr>
                <td >
                    <p>ASP .Net tutorial</p>
                </td>
                <td><a href="https://www.tutorialspoint.com/asp.net/index.htm">link</a>
                </td>
            </tr>

            <tr>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>
</div>